# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment variables
.env
.VENV

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore spacy model directory
data/spacy_model/

# Ignore data files
data/*.csv
data/*.pkl
data/*.npz

#ignore

venv311/
__pycache__/
*.pyc
